<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/stylesheets/style.css" TYPE="text/css">

    <script src="../common/common.process.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>

    <script>
        $(document).ready(function () {
           mouseEvent_Handler();
        });
    </script>

  </head>
  <body>

    <div class="outer" id="canvas">

    </div>

  </body>
</html>
